 /*Responsive styles 
/*================================================== */ 

/* Large Devices, Wide Screens */

@media screen and (min-width:1366px) 
{ 
.bottomimg {margin-top: -105px;}  
} 




@media screen and (min-width: 1200px) {
   /* Slider */
   .tw-hero-slider .owl-nav button {
     /* left: 40px;*/
	 left:880px;
   margin-top: 230px;
   display:none;

   }
   .tw-hero-slider .owl-nav button.owl-next {
      /*right: 40px;*/
	  right:880px;
	   display:none;

   }
   /* Sub pages */
   /* Service */
   .service-list-carousel .owl-stage-outer {
      padding-left: 1px;
   }

   /* version 1.5 */
   .tw-form-round-shape,
   .analysis-form input[type=submit]{
      z-index: 0;
   }
}

/* Medium Devices, Desktops */

@media screen and (min-width: 992px) and (max-width:1199px) {
   /* Top Bar  */
   .tw-top-bar-angle .top-contact-info span {
      padding-right: 10px;
   }
   .top-links {
      padding-top: 25px;
   }
   .top-contact li {
      padding-left: 10px;
   }
   .top-info .info-wrapper {
      margin-right: 0;
   }
   .top-social-links a {
      padding-left: 10px;
   }
   /* Navbar */
   ul.navbar-nav li {
      padding: 0px 0px;
   }
   ul.tw-dropdown-menu li,
   .tw-mega-menu ul li {
      padding: 7px 2px;
   }
   /* Header Soial links */
   .tw-social-links li {
      padding-right: 18px;
      padding-left: 0;
   }
   /* Offcanvas menu */
   .tw-off-search {
      right: 10px;
   }
   /* Slider */
  /* .slider-wrapper {
      height: 725px;
   }*/
   .tw-hero-slider .owl-nav button i {
      font-size: 35px;
   }
   .tw-hero-slider .owl-item .tw-slider-1 img {
      margin-top: 78px;
   }
   /* Features */
   .features-text:after {
      left: -50px;
   }
   .features-box {
      min-height: 325px;
      margin-bottom: 30px;
   }
   /* Analysis */
   .analysis-bg-pattern img:nth-child(3) {
      width: 25%;
   }
   .analysis-bg-pattern img:nth-child(4) {
      right: 110px;
   }
   .analysis-form input[type=url],
   .analysis-form input[type=email] {
      display: block;
      width: 100%;
      margin-bottom: 20px;
   }
   .analysis-form input[type=email] {
      margin-left: 0;
   }
   .analysis-form input[type=submit] {
      margin-left: 0;
      right: -20px;
   }
   /* Case Study */
   .casestudy-content {
      padding-left: 15px;
      padding-right: 15px;
   }
   /* Service
    =============== */
   /* Service Carousel */
   .tw-service-box-list {
      max-width: 100%;
   }
   .tw-service-list .section-heading p {
      margin-top: -15px;
   }
   .tw-service-list .section-heading .animate-border {
      margin-top: 15px !important;
   }
   /* Sub pages
    ======================*/
   /* Case */
   /* Case Complete */
   .cases-img {
      flex-basis: 22.8%;
   }
   .navbar-light .navbar-nav .nav-link { 
      margin-right: 5px;
   }
   /* Home Variation 8 */
   .dark-nav.nav-lite ul.navbar-nav li {
      padding-left: 0;
      padding-right: 0;
   }
   .contact-inline span,
   .top-contact span {
      padding-right: 15px;
   }
   .top-links-inline a {
      padding-left: 15px;
   }
}

/* Small Devices, Tablets */

@media screen and (min-width: 768px) and (max-width: 991px) {
   /*Nav fixed*/
   .navbar-fixed{
      position: relative;
      animation:none;
   }
   /* Top bar */
   .top-contact {
      margin-bottom: 30px;
   }
   .top-contact li {
      padding-left: 0;
   }
   .top-bar-angle-info span {
      font-size: 10px;
   }
   .tw-top-bar-angle:after {
      border-top: 0;
   }
   .tw-top-bar-angle:before {
      width: 55%;
   }
   .offcanvas-menu-lite.bg-orange {
      visibility: hidden;
   }
   ul.navbar-nav>li.nav-item>a.nav-link:after {
      background: none;
   }
   /* Header */
   .tw-head {
      width: 100%;
   }
   /* Navbar */
   ul.navbar-nav li {
      padding: 0;
   } 
   .tw-dropdown-menu {
      padding-top: 0;
   }
   ul.tw-dropdown-menu:after {
      display: none;
   }
   ul.tw-dropdown-menu {
      padding-bottom: 0;
   }
   .tw-mega-menu {
      padding-top: 15px;
   }
   .tw-mega-menu ul li:not(:first-child) {
      padding-left: 15px;
   }
   li.dropdown:hover ul.tw-dropdown-menu,
   li.dropdown:hover .tw-mega-menu {
      display: none;
   }
   ul.navbar-nav>li.nav-item>a.nav-link.active:before,
   ul.navbar-nav>li.nav-item>a.nav-link.active:after,
   ul.navbar-nav>li.nav-item>a.nav-link:before,
   ul.navbar-nav>li.nav-item>a.nav-link:after {
      opacity: 0;
      -webkit-animation: none;
      animation: none;
   }
   ul.navbar-nav>li.nav-item>a.nav-link:after {
      background: none;
   }
   li.dropdown:hover ul.tw-dropdown-menu {
      -webkit-box-shadow: none;
      box-shadow: none;
   }
   ul.tw-dropdown-menu li {
      padding: 7px 0;
   }
   ul.tw-dropdown-menu {
      padding-top: 0;
   }
   .tw-mega-menu {
      -webkit-box-shadow: none;
      box-shadow: none;
   }
   .tw-mega-menu:after {
      display: none;
   }
   .navbar-toggler {
      position: absolute;
      right: 0;
      top: 15px;
   }
   span.tw-indicator {
      float: right;
      width: 40px;
      height: 30px;
      text-align: center;
      border: 1px solid #3751ff;
      line-height: 30px;
      position: relative;
      top: -3px;
      color: #3751ff;
      font-size: 24px;
      font-weight: 500;
   }
   /* Search and Social links */
   .tw-social-links {
      width: 100%;
      padding: 12px 0;
   }
   .tw-off-search {
      top: 23px;
   }
   .tw-social-links li {
      padding-left: 0;
      padding-right: 20px;
   }
   .tw-off-search {
      display: none;
   }
   /* Slider */
   .tw-slider-subtitle {
      font-size: 15px;
   }
   .tw-slider-title {
      font-size: 35px;
   } 
   /*.slider-1 .slider-wrapper {
      min-height: 590px;
   }*/
   .slider-content h2 {
      font-size: 35px;
      margin-bottom: 25px;
   }
   /* Features */
   .features-text:after {
      left: -45px;
   }
   .features-box {
      margin-bottom: 30px;
      min-height: auto;
   }
   /* Analysis */
   .analysis-bg-pattern img:nth-child(1) {
      width: 30%;
   }
   .analysis-bg-pattern img:nth-child(2) {
      width: 18%;
   }
   .analysis-bg-pattern img:nth-child(3) {
      left: 20px;
      bottom: -45px;
   }
   .analysis-bg-pattern img:nth-child(4) {
      right: 40px;
      width: 9%;
   }
   .analysis-form input {
      margin-bottom: 30px;
   }
   .tw-form-round-shape:after {
      display: none;
   }
   .tw-form-round-shape {
      right: 0;
      margin: 0;
   }
   /* Intro */
   .tw-intro-area img {
      margin-top: 60px;
   }
   /* Working Process */
   .tw-work-process p {
      font-size: 16px;
   }
   .process-wrapper {
      width: 140px;
      height: 140px;
   }
   /* Testimonial */
   .tw-testimonial-carousel:before {
      -webkit-transform: rotate(-8deg);
      transform: rotate(-8deg);
      height: 62%;
   }
   /* Blog */
   .tw-latest-post {
      margin-bottom: 30px;
   }
   /* Footer */
   .footer-left-widget {
      padding-left: 0;
   }
   .contact-info h3 {
      font-size: 18px;
   }
   .contact-info p {
      font-size: 14px;
   }
   .copyright a {
      font-size: 13px;
   }
   .copyright span {
      font-size: 13px;
   }
   .tw-footer .contact-us {
      margin-top: 50px;
      margin-bottom: 30px;
      padding-left: 0;
   }
   /* Sub Pages ============ */
   /* single news ==========*/
   /* Comments Form */
   .comments-form button {
      margin-bottom: 40px;
   }
   /* About us ============= */
   /* Team */
   .team-img img {
      width: 155px;
      height: 155px;
   }
   .team-info .team-name {
      font-size: 19px;
   }
   .team-info .team-designation {
      margin-bottom: 10px;
   }
   .team-info .team-social-links a i {
      margin: 0px 3px;
      font-size: 15px;
   }
   /* Pricing Price============== */
   .tw-price-box {
      margin-bottom: 30px;
   }
   /* Single Service
    ======================= */
   /* Chart */
   .percent-area {
      margin-top: 30px;
   }
   /* Service
    =================== */
   /* Service Carousel */
   .service-list-carousel .owl-nav {
      left: 0;
      bottom: -65px;
      width: 100%;
      text-align: center;
   }
   .tw-service-box-list {
      max-width: 100%;
   }
   /* Single Case
    ================= */
   /* Solution */
   .challange-bg-pattern:after {
      display: none;
   }
   .working-icon-wrapper {
      width: 150px;
      height: 150px;
   }
   .case-process-number {
      right: -6px;
      width: 30px;
      height: 30px;
      line-height: 30px;
      font-size: 16px;
   }
   .tw-case-working-box h3 {
      font-size: 15px;
   }
   .result-bg img {
      width: 220%;
      top: 75px;
   }
   /* Case 
    ================*/
   /* Case Complete */
   .cases-img {
      flex-basis: 47.1%;
   }
   /* Header variation */
   /* Variation One */
   .tw-offcanvas-menu {
      width: 100%;
      text-align: right;
      padding: 15px 0;
      position: relative;
      right: -25px;
   }
   .top-social-links a {
      padding-left: 15px;
   }
   .top-contact-info span {
      padding-left: 10px;
   }
   /* home variation 3 */
   /* Header */
   .transparent-header.absolute-header {
      margin-bottom: -65px;
   }
   .dark-bg .tw-nav-brand {
      top: 25px;
      margin-bottom: 15px;
   }
   .offcanvas-dark-menu {
      right: -10px;
   }
   /* Home Variation 4 */
   /* Header */
   .nav-lite ul.navbar-nav {
      margin-top: 55px;
   }
   .tw-offcanvas-menu.offcanvas-menu-lite {
      text-align: left;
      padding-bottom: 0;
      max-width: fit-content;
      padding: 20px 0 20px 25px;
   }
   .tw-offcanvas-menu.offcanvas-menu-lite i {
      color: #fff;
      border-right-color: #4E4B4B;
   }
   .tw-offcanvas-menu.offcanvas-menu-lite .inline-menu span {
      background: #fff;
   }
   .top-contact span {
      padding-left: 35px;
   }
   .top-links {
      text-align: center;
   }
   /* Home Variation 5 */
   .top-bar-lite .top-contact-info {
      text-align: center;
   }
   .header-absolute .tw-header {
      background: #2E2C2D;
   }
   .nav-transparent .tw-nav-brand {
      padding-left: 0;
   }
   /* Offcanvas Menu */
   .tw-offcanvas-menu {
      right: -15px;
   }
   /* Home Variation 7  */
   .nav-full-width .navbar-toggler {
      top: 9px;
   }
   /* Home Variation 8 */
   .tw-offcanvas-menu.offcanvas-menu-lite {
      padding: 15px 15px;
   }
   .solid-bg {
      background: none;
      border-left: 8px solid transparent;
      border-top-right-radius: 0;
      border-bottom-right-radius: 0;
   }
   .dark-nav.nav-lite .navbar-toggler {
      top: 14px;
   }
   .dark-nav.nav-lite .toogle-lite {
      top: 9px;
   }
   
   .tw-award-box-top{ max-width:100%;}
    
}  


/*@media (max-width:768px) */

@media screen and (max-width:768px){
.tw-award-box-top { margin-bottom: 10px;}
.slider-inner {vertical-align: inherit; }
.slider-1 .slider-content {  padding-left: 0px; }
.slider-3 .slider-content {  padding-left: 0px; }
.slider-2 .slider-content  {padding-right:0px;}
.slider-content h2 span {font-size: 30px;}
.slider-wrapper {height: 500px;}
.slider-1 .slider-wrapper { min-height: 500px;}
.tw-work-process-top { max-width:100%;}
.boxour p {padding-left:0px;}
.section-heading p {padding: 0px 9px;}
.section-heading h2 {font-size: 20px;}
.bottomimg { margin-top: -58px;}
.datebox { padding: 24px 10px 12px 14px;}
.bx_ullink ul li a {    line-height: 17px;}
.copyright { margin-top: 4px;}
.logo-jarviot img {width: 130px; height: auto; position: relative; margin-top: 0px; } 
.topbule {margin-left:0px; display: none; }
.text-right {flex: 0 0 100% !important; max-width: 100% !important;} 
.tw-top-bar-angle .top-contact-info span {font-size: 11px; padding-right:7px;} 
.tw-nav-brand {margin-top: 0; } 
.slider-content h2:before {left: 50%; transform: translateX(-50%); }

}


/* Small Devices Potrait */

@media screen and (max-width: 767px) {
.Complete {margin-bottom:0px !important;}
.invention {padding-top:0px !important; padding-bottom:0px !important;}
.Speciality {padding-bottom:0px !important;}
.boxour p {padding-top: 30px;} 


/*Nav fixed*/

.navbar-fixed{
position: relative;
animation:none;
}
/* Top bar */
.top-menu ul li a {
padding-right: 10px;
}
.top-menu ul li a:last-child {
padding-right: 0;
}
.top-contact ul {
text-align: left;
}
   .top-info {
      float: none;
   }
   .top-info li {
      margin-bottom: 15px;
   }
   .top-contact li {
      display: block;
      padding-left: 0;
   }
   .top-contact li p {
      margin-bottom: 10px;
   }
   .offcanvas-menu-lite.bg-orange {
      visibility: hidden;
   }
   /* Top Header */
   .tw-top-bar-angle:before,
   .tw-top-bar-angle:after {
      display: none;
   }
   .top-bar-angle-info span,
   .top-bar-angle-info i {
      color: #2e2c2d;
   }
   .tw-top-bar-angle .top-contact-info span {
      color: #2e2c2d;
      padding-left: 10px;
      padding-right: 0;
      text-align: center;
	  float:left;
   }
   .tw-top-bar-angle .top-bar-angle-info {
      text-align: center;
   }
   /* Header */
   .tw-head {
      width: 100%;
   }
   /* Navbar */
   ul.navbar-nav li.nav-item>a {
      padding: 15px 0;
   }
   ul.tw-dropdown-menu {
      padding-top: 0;
   }
   .tw-mega-menu {
      padding-top: 15px;
      width: 100%;
   }
   ul.tw-dropdown-menu:after {
      display: none;
   }
   ul.tw-dropdown-menu {
      padding-bottom: 0;
      width: 100%;
   }
   .tw-mega-menu ul li:not(:first-child) {
      padding-left: 15px;
   }
   li.dropdown:hover ul.tw-dropdown-menu,
   li.dropdown:hover .tw-mega-menu {
      display: none;
   }
   ul.navbar-nav>li.nav-item>a.nav-link.active:before,
   ul.navbar-nav>li.nav-item>a.nav-link.active:after,
   ul.navbar-nav>li.nav-item>a.nav-link:before,
   ul.navbar-nav>li.nav-item>a.nav-link:after {
      opacity: 0;
      -webkit-animation: none;
      animation: none;
   }
   li.dropdown:hover ul.tw-dropdown-menu {
      -webkit-box-shadow: none;
      box-shadow: none;
   }
   .tw-mega-menu {
      -webkit-box-shadow: none;
      box-shadow: none;
   }
   ul.navbar-nav>li.nav-item>a.nav-link:after {
      display: none;
   }
   ul.navbar-nav a {
      padding: 0;
   }
   .navbar-toggler {
      position: absolute;
      right: 0;
      top: 15px;
      padding: 3px 5px;
   }
   span.tw-indicator {
      float: right;
      width: 40px;
      height: 30px;
      text-align: center;
      border: 1px solid #3751FF;
      line-height: 30px;
      position: relative;
      top: -3px;
      color: #3751ff;
      font-size: 24px;
      font-weight: 500;
   }
   /* Search and Social links */
   .tw-social-links {
      width: 100%;
      padding: 12px 0;
   }
   .tw-off-search {
      top: 23px;
   }
   .tw-social-links li {
      padding-left: 0;
      padding-right: 20px;
   }
   .tw-off-search {
      display: none;
   }
   /* Slider */
   .tw-slider-subtitle {
      font-size: 15px;
   }
   .tw-slider-title {
      font-size: 35px;
   }
   .slider-wrapper {
      padding-top: 0px;
      padding-bottom: 50px;
   }
   .slider-wrapper,
   .tw-slider-1,
   .slider-1 .slider-wrapper {
      min-height: auto;
   }
   .slider-1 .slider-content {
      margin-top: 50px;
   } 
   .slider-content h2 {
      font-size: 35px;
      margin-bottom: 25px;
   }

   /* Features */
   .tw-features-area .column-title {
      text-align: center;
   }
   .features-text {
      padding-left: 10px;
   }
   .features-text:after {
      left: -10px;
   }
   /* Analysis */
   .analysis-bg-pattern img:nth-child(3) {
      width: 35%;
      left: 10px;
      bottom: -50px;
   }
   .analysis-bg-pattern img:nth-child(4) {
      width: 12%;
      right: 50px;
   }
   .tw-form-round-shape:after {
      display: none;
   }
   .tw-form-round-shape {
      margin: 0;
      padding: 0 15px;
      right: 0;
   }
   .analysis-form input[type=url],
   .analysis-form input[type=email] {
      margin-bottom: 30px;
   }
   /* FuncFacts */
   .facts-content {
      margin-bottom: 30px;
   }
   /* Service */
   .tw-service-box {
      margin-bottom: 30px;
   }
   .features-box {
      margin-bottom: 30px;
   }
   /* Case Study */
   .tw-case-study-box {
      margin-bottom: 30px;
   }
   /* Working Process */
   .work-process [class*="col"]:nth-child(even) .process-wrapper {
      margin-top: 0;
   }
   .work-process [class*="col"]:nth-child(4) .tw-work-process {
      margin-bottom: 0;
   }
   .tw-work-process {
      margin-bottom: 30px;
   }
   /* Testimonial */
   .tw-testimonial-carousel {
      margin-bottom: 40px;
   }
   /* Pricing */
   .tw-pricing .pricing-featured {
      padding-top: 28px;
      margin: 35px 0 0;
      padding-bottom: 0;
   }
   /* Blog */
   .tw-latest-post {
      margin-bottom: 30px;
   }
   /* Footer */
   .tw-footer-info-box {
      position: relative;
      top: 0;
   }
   .footer-left-widget {
      padding-left: 0;
      margin-top: 30px;
   }
   .contact-us {
      margin-top: 40px;
   }
   .contact-info h3 {
      font-size: 18px;
   }
   .contact-info p {
      font-size: 14px;
   }
   .copyright a {
      font-size: 13px;
   }
   .copyright span {
      font-size: 13px;
        line-height: 1.4;
   }
   .copyright {
      text-align: center;
   }
   .copyright-menu li {
      padding-left: 0;
      padding: 10px;
   }
   .copyright-menu ul {
      text-align: center;
      padding-left: 0;
   }
   .footer-awarad {
      margin-top: 40px;
      margin-bottom: 40px;
   }
   .tw-footer .contact-us.contact-us-last {
      margin-left: 0;
      margin-bottom: 0;
   }
   .tw-footer .contact-us {
      padding-left: 0;
   }
   /* Sub pages ================= */
   /* Recent Posts */
   .post-meta span {
      margin-right: 5px;
   }
   /* Single News ================= */
   /*Share Item */
   .post-tags {
      float: none;
      margin-bottom: 30px;
   }
   .share-items {
      float: none;
   }
   .post-footer {
      text-align: center;
   }
   /* Comments Form */
   .comments-form button {
      margin-bottom: 40px;
   }
   /* About Us ================= */
   /* Aboutbin */
   .tw-about-bin {
      margin-top: 30px;
   }
   /* Our Mission */
   .mission-body {
      margin-top: 30px;
   }
   /* Team */
   .tw-team-box {
      margin-bottom: 30px;
   }
   /* About us v2============== */
   .timeline2-wrapper:after {
      left: 0;
   }
   .left-part .timeline-badge {
      left: 0;
      margin-left: 0;
   }
   .timeline-badge,
   .left-part .timeline-badge {
      margin-left: 7px;
   }
   .left-part .timeline-panel:before {
      right: inherit;
      left: -15px;
      transform: rotate(135deg) translateY(-50%);
      top: 0;
   }
   .timeline-date {
      text-align: left;
   }
   .left-part .timeline-panel {
      text-align: left;
   }
   .left-part .timeline-panel {
      margin-right: 0;
   }
   /* Pricing Price============== */
   .tw-price-box {
      margin-bottom: 30px;
   }
   /* Single Service
    ================= */
   /* Web Analytics */
   .analytics-img,
   .tw-web-analytics-content {
      margin-bottom: 60px;
   }
   .tw-web-analytics [class*="row"]:last-child .analytics-img {
      margin-bottom: 60px;
   }
   /* Chart */
   .percent-area {
      margin-top: 30px;
   }
   /* Service
    =================== */
   /* Service Carousel */
   .service-list-carousel .owl-nav {
      left: 0;
      bottom: -65px;
      width: 100%;
      text-align: center;
   }
   .tw-service-box-list {
      max-width: 100%;
   }
   /* Feature box */
   .tw-service-features-box {
      margin-bottom:15px;/*margin-top: 30px;*/
   }

   .tw-service-features-box:after {
      display: none;
   }
   /* Feaures Contact us */
   .tw-features-contact-info>p {
      padding-right: 0;
   }
   .service-contact-form {
      margin-top: 30px;
   }
   /* Single Case
    =================== */
   /* Solution */
   .tw-challange-content {
      max-width: initial;
      margin-bottom: 70px;
   }
   .challange-bg-pattern:after {
      display: none;
   }
   /* Case Working */
   .tw-case-working-box {
      margin-top: 22px;
   }
   .result-bg img {
      position: relative;
   }
   .tw-traffic-counter {
      margin-top: 30px;
   }
   /* Case
    =================== */
   /* Case Complete */
   .cases-img {
      flex-basis: 100%;
   }
   .cases-img img {
      display: block;
      margin: 0 auto;
   }
   .cases-img:nth-of-type(even) {
      top: initial;
   }
   /* Header Variation One */
   .tw-offcanvas-menu {
      width: 100%;
      text-align: right;
      padding-bottom: 15px;
      position: relative;
      right: -25px;
   }
   .top-social-links {
      text-align: center;
      padding-bottom: 20px;
      padding-top: 10px;
   }
   .top-contact-info span {
      padding-left: 5px;
      margin-right: 5px;
      display: block;
   }
   .top-contact-info {
      text-align: center;
   }
   /* Home variation 3 */
   /* Header */
   .transparent-header.absolute-header {
      margin-bottom: -65px;
   }
   .dark-bg .tw-nav-brand {
      top: 25px;
      margin-bottom: 15px;
   }
   .offcanvas-dark-menu {
      right: -10px;
   }
   /* Home Variation 4 */
   /* Header */
   .nav-lite ul.navbar-nav {
      margin-top: 55px;
   }
   .tw-offcanvas-menu.offcanvas-menu-lite {
      text-align: left;
      padding-bottom: 0;
      max-width: fit-content;
      padding: 20px 0 20px 25px;
   }
   .tw-offcanvas-menu.offcanvas-menu-lite i {
      color: #fff;
      border-right-color: #4E4B4B;
   }
   .tw-offcanvas-menu.offcanvas-menu-lite .inline-menu span {
      background: #fff;
   }
   .top-contact span {
      padding-left: 35px;
      padding-right: 0;
   }
   .top-links {
      text-align: left;
   }
   /* Home Variation 5 */
   .top-bar-lite .top-contact-info {
      text-align: center;
   }
   .header-absolute .tw-header {
      background: #2E2C2D;
   }
   .nav-transparent .tw-nav-brand {
      padding-left: 0;
   }
   /* Offcanvas Menu */
   .tw-offcanvas-menu {
      right: -15px;
      padding: 35px 0;
   }
   /* Slider */
   .tw-slider-bg-dark .slider-content {
      margin-top: 100px;
   }
   /* Home Variation 6 */
   /* Slider */
   .tw-slider-bg-dark .slider-wrapper {
      padding-top: 0;
      padding-bottom: 0;
   }
   /* Home Variation 7 */
   .top-menu {
      text-align: center;
   }
   .middle-bar .top-contact span {
      padding-left: 38px;
   }
   /* Home Variation 7 */
   .middle-bar .top-contact span {
      display: block;
      margin-bottom: 15px;
   }
   .middle-bar .top-contact i {
      position: relative;
      float: left;
      top: 5px;
      margin-right: 10px;
   }
   /* Home Variation 8 */
   .tw-offcanvas-menu.offcanvas-menu-lite {
      padding: 15px 15px;
      visibility: hidden;
   }
   .solid-bg {
      background: none;
      border-left: 8px solid transparent;
      border-top-right-radius: 0;
      border-bottom-right-radius: 0;
   }
   .dark-nav.nav-lite .navbar-toggler {
      top: 14px;
   }
   .dark-nav.nav-lite .toogle-lite {
      top: 9px;
   }
   .tw-analysis-area:before,
   .tw-analysis-area:after {
      display: none;
   }

   /* Version 1.5*/
   .tw-hero{
      min-height: 480px;
      padding-top: 130px;
   }
   .tw-head.tw-transparent .navbar-nav{
      background: #fff;
      padding: 20px;
   }
   .tw-inro-item.bar1 .column-title{
      margin-top: 40px;
   }
   .tw-mega-menu:after{
      background: none;
      position: relative;
   }

   .tw-seo-check-content .analysis-form .tw-form-round-shape:after,
   .tw-seo-check-content .analysis-form{
      background: none;
   }
   .tw-seo-check-content .analysis-form input[type=submit]{
      border-radius: 50px;
   }

.tw-award-box-top{ max-width:none;}

.bule-colour {border-radius:0px 0px 12px 12px;}
.tophide{ display:none !important;}

.tw-nav-brand { margin-top:0px;}

.topbule {margin-left:0px;display: none;}

.top-social-links {padding-bottom:0px; padding-top:0px;}

.navbar-nav { padding-left:0px !important;}
.tw-award-box-top { margin-bottom: 10px;}


.section-heading {margin-bottom: 80px; text-align:center;} 
.process-inner img { margin-top: 80px;}
.tw-service-features-box-middel {  margin-top:0px;}
.main-container {padding-top: 0px;}
.tw-service-features-box h3 {margin-top:10px;}
.approchicon img {padding-top:30px !important;}
.tw-service-features-box p {    margin-bottom: 30px;}
.tw-about-bin { text-align:center;}
.animate-border { margin:0 auto;}
.tw-mt-30 {margin-top:0px !important;}
.different-features-box {    margin-top:0px;} 
.process-inner img {margin-right:0px;}
.services-boxtext-Offer  {    margin-top: 30px;}
.bottomimg { margin-top: -58px;}
.back-to-top .btn-dark {bottom: 35px;}
.tw-hero-slider .active img {margin-top:50px;}
.tw-client {padding-bottom: 110px; padding-top: 0px;padding-top: 0px !important;}
#yellowbottombox a { margin: 0 auto;}
.logo-jarviot  img{ width:140px;}
 
.btnplus-1 {position: relative; margin-top: 0px; margin-left:0px;}
.btnplus-2 { position: relative; margin-top: 0px; margin-left: 0px;}
.btnplus-3{position: relative; margin-top: 0px; margin-left: 0px;}
.btnplus-5 {position: relative; margin-top: 0px; margin-left: 0px;}


.modal-dialog {max-width: 88%; position: relative; margin-top:8% !important; }
.process-inner img { margin-top: 20px;}
.poptext p{ text-align:left; padding:5px 2px !important;}
.approch {font-size: 18px; letter-spacing: 0.8px; margin-bottom: 15px; margin-top: 20px; } 
.hireus-btn{padding: 3px 15px !important;}

} 

/*@media (max-width:767px) */

@media screen and (max-width:667px) {
.bottomimg {margin-top: -52px; }
.logo-jarviot img { width:140px;}
.tw-top-bar-angle .top-contact-info span {font-size: 10px; padding-right:0px; padding-left:0px; }
.top-contact-info span {margin-left: 7px;} 
.navbar-expand-lg .navbar-nav {
  display: flex;
  text-align: left; 
  flex-direction: column; 
  padding: 0px 0px 0;
  width: 100%;
}

}

@media screen and (max-width:640px){
   .bottomimg {margin-top: -51px;
}
}

@media screen and (max-width:568px){
   .bottomimg {margin-top: -42px; }
}


/* Extra Small Devices, Phones */

@media screen and (max-width: 479px) {
   /* Top Bar */
   .top-contact li i {
      top: 30px;
   }
   /* Slider */
   .slider-3 .slider-content {
      padding-left: 0;
   }
   /* Features */
   .tw-features-area .column-title {
      margin-right: 0;
   }
   /* Blog */
   .post-info {
      margin-left: 0;
      text-align: center;
   }
   /* Search */
   .tw-off-search {
      right: -10px;
   }
   .tw-social-links li {
      padding-right: 10px;
   }
   /* Sub Pages */
   /* Recent Posts */
   .post-body {
      padding-left: 0;
   }
   .post-item-date {
      position: relative;
   }
   .post-date {
      margin: 0 auto;
   }
   .post-item-date:before,
   .post-item-date:after {
      display: none;
   }
   .entry-header,
   .tw-news-post .entry-content,
   .post-footer {
      margin-left: 0;
   }
   .pagination li a {
      width: 35px;
      height: 35px;
      line-height: 35px;
      margin-right: 5px;
   }
   /* Author Box */
   .author-box .author-img {
      float: none;
      margin: 0 auto 20px;
   }
   .author-box .author-info {
      margin-left: 0;
      text-align: center;
   }
   .author-box .author-img {
      float: none;
      margin: 0 auto 20px;
   }
   .author-box .author-info {
      margin-left: 0;
      text-align: center;
   }
   /* Comments */
   .comment .comment-avatar {
      float: none;
      margin: 0 auto 15px;
      display: block;
   }
   .comments-list {
      margin: 0;
      padding: 0;
   }
   .comment-body {
      margin-left: 0;
   }
   img.comment-avatar {
      float: none !important;
   }
   /* About us ===================== */
   /* Timeline */
   .timeline-tab ul li a {
      font-size: 16px;
   }
   /* Single Case */
   /* Final */
   .result-bg img {
      display: none;
   }
   /* Home Variation 4 */
   /* Header */
   .top-contact span {
      display: block;
      max-width: 100%;
      margin-bottom: 25px;
   }
   .top-contact i {
      position: relative;
      float: left;
      vertical-align: top;
      top: 5px;
   }
   .top-links {
      padding-top: 0;
      text-align: left;
   }

}


@media screen and(max-width:480px){
.bottomimg {margin-top: -39px; }
.tophide-email {display:none !important;}
.icon-left-arrow2:before {display:none !important;}
.icon-right-arrow2:before {display:none !important;}
}
@media screen and (max-width:445px){
.bottomimg {margin-top: -35px; }
.datebox { padding: 24px 10px 12px 15px; float: left; width: auto;} 
.datebox h3{ font-size: 38px;} 
.blog_desc {float: none;}
.blogtextbox {    float: none;}
.modal-title {font-size: 16px !important; }
}
@media screen and(max-width:425px){
   .bottomimg {margin-top: -31px; } 
   .slider-content p { padding:0px 20px;} 
}
@media screen and (max-width:360px){
   .bottomimg {margin-top: -28px; } 
}
@media screen and(max-width:320px)
{
.bottomimg {margin-top: -24px;}
.tw-top-bar-angle .top-contact-info span { padding-left: 2px;}
ul.navbar-nav a { padding: 8px;} 
.call_wrapnew-deskstop-bottom img { width:18px; } 
}
 













/*jd css*/
@media screen and (max-width: 1441px) {
   #tw-footer:before {top: -108px; height: 110px; } 

}

@media screen and (max-width: 1280px) {
/*home slider*/
   #yellowbottombox a img {width: 20px;}
   .slider-content h2 {font-size: 30px;}
   .slider-content h2 span {font-size: 36px;}
   .slider-content p {font-size: 14px; line-height: 24px;}
   #yellowbottombox {font-size: 14px; padding: 4px 0;}
   .owl-carousel .owl-item img {width: 90% !important; margin: 15px auto 5px;}
   .slider-content a {font-size: 14px;} 
   .navbar-nav a {font-size: 12px;} 
   .slider-wrapper {height: 100%; } 
   .clientbox h3 {font-size: 30px; }
   .clientbox p {font-size: 16px; }
/*home slider*/
} 

@media screen and (max-width: 1200px) {
/*.navbar-nav {padding-left: 31%; }*/

.copyright {margin-top: 10px; }
.cont-links .col-md-3 {max-width: 40%;flex:none; } 
.cont-links .col-md-3:nth-child(2) {max-width: 60%;flex:none;}
footer .col-md-6 {max-width: 100%; flex: none; }
.bx_ullink ul li {float: left; width: 50%; }
.btmlogo p img {display: none; }
div#blogsection {margin-top: 20px; }
.bx_ulblog ul li {width: 33.33%; float: left; text-align: center; margin: auto; }
.bx_ulblog .col-md-3 {max-width: 40%; margin: auto; display: block; float: none; padding: 15px 0; }
.blogtextbox {float: none; max-width: 90%; margin: 15px auto; display: inline-block; }
.datebox h3 {font-size: 30px; max-width: initial; }
.bx_ulblog ul li h4 {font-size: 16px; }
.copyright-menu ul {padding: 0;}
.copyright {padding: 20px 0 55px;}
.bottomimg {margin-top: -80px; }
.footer-widget h3 {font-size: 18px; } 


}

@media screen and (max-width: 1024px) {
.section-heading h2 {font-size: 24px;width: 90%;}
.Complete small {width: 80%; }
.tw-service-features-box {padding: 0 10px 0; }
.tw-mega-menu:after {background-size: 90% 90%;}
.slider-content h2 {font-size: 24px; }
.slider-content h2 span {font-size: 30px; }
.bottomimg {margin-top: -70px; }


}

@media screen and (max-width: 991px) {
.container {width: 750px; max-width: 750px;}
.tw-award-box-top {flex: none; width: 33.33%; margin-bottom: 10px;}
.tw-award-box-top:last-child {display: none;}
.navbar-nav {padding-left: 0;}
.tw-nav-brand {margin-top: 40px;}
.tw-header {height: 65px;}
.logo-jarviot img {width: 150px; }
section {padding: 50px 0; }
.section-heading h2 {width: 100%;}
.Complete small {width: 90%;}
.tw-about-award {padding: 50px 10px 0;}
.special-weoffer .col-md-3 {margin-bottom: 50px; width: 33.33%; flex: none; max-width: 33.33%; }
.different-features-box h3 {margin-bottom: 0px; min-height: 40px; }
.different-features-box {padding: 15px 10px;}
.different-features-box img {width: 40px;}
.different-features-box {padding: 15px 10px 10px;}
.approch {font-size: 16px;margin-bottom: 15px;}
.section-heading h2 {font-size: 22px;}
section {padding: 30px 0;}
.clientbox h3 {font-size: 24px;}
.clientbox p {font-size: 14px;}
.service-feature-icon img {padding-top: 15px;}
.service-bg-icon-1 {height: 70px;}
.navbar-expand-lg .navbar-nav {display: flex; text-align: left; width: initial; flex-direction: column; padding: 0px 20px;padding: 0px 20px 12px;}
ul.navbar-nav li.nav-item>a {padding: 5px 0;}
.slider-content {margin-top: 0; }
.owl-carousel .owl-item img {margin: 0 auto 5px; }
 .owl-carousel.owl-loaded {display: block; height: 100%; }
.slider-wrapper {padding-top: 20px; padding-bottom: 20px; }
.slider-content a {font-size: 12px;}
.tw-work-process-top:last-child {display: none;} 
.tw-work-process-top {max-width: 50%; flex: none;margin-bottom: 100px;  }
.work-process [class*="col"]:nth-child(even) .process-wrapper {margin-top: 0; }
.btnplus-1 {margin-top: 25px; }
.section-heading {margin-bottom: 30px;} 
.tw-work-process p {font-size: 14px;}
.text-ppc {min-height: 35px;}
.invention .col-md-4 {width: 33.33%;}
.col-md-4.boxour {width: 100%; }
.invention .col-md-7 {flex: none; max-width: 100%; }
.invention .boxour {flex: none; max-width: 100%; text-align: center; } 
.tw-about-bin .animate-border {margin: 20px auto; }
.tw-service-features-box-middel {margin-top: 0; }
.main-container {padding-top: 30px; padding-bottom: 40px;}
.section-heading p {padding: 0px 50px; }
.footer-widget .section-heading {margin-bottom: 10px; } 
.cont-links .col-md-3:nth-child(2) {max-width: 100%; flex: none;margin-top: 20px; }
.phone_bx {width: 33%; float: left; }
.tw-footer p a {line-height: 20px; font-size: 12px; }
.phone_bx img {width: 25px; }
.bx_ullink ul li {float: left; width: 33.33%;margin-bottom: 0;}
.bx_ullink ul li a {font-size: 12px; width: 100%; } 
.bx_ulblog li {display: none; }
.bx_ulblog li:first-child {display: block;width: 100%; }
.bx_ulblog .col-md-3 {max-width: 20% !important; flex: none; float: left; padding: 7px 0; }
.blogtextbox {float: left; max-width: 80%; text-align: left;  margin: 0; }
.datebox h3 span {font-size: 22px; }
.bx_ulblog ul li h4 {margin-bottom: 5px; }
.cont-links .col-md-3 {max-width: 100%; }
#tw-footer:before {top: -78px; height: 80px;}
.copyright .col-md-5 span {text-align: center; display: block;}
.bx_footericon {margin: 10px auto 10px; text-align: center;}
.copyright-menu li {display: block; padding-left: 0; text-align: center;}
.copyright .col-md-5 {flex: none; max-width: 100%; text-align: center;}
.copyright .col-md-4 {flex: none; max-width: 100%;}
.copyright .col-md-3 {flex: none; max-width: 100%;}
.container.cont-90 {width: 100%; max-width: 100%;}
.call_wrapnew-deskstop-bottom  {display:inherit; text-align:center;}
.call_wrapnew-deskstop-bottom  {display:inline-block;margin:auto;}
.call_wrapnew-deskstop-bottom  img {width:18px;}
.call_wrapnew-mobile { display:none;}
.call_wrapnew {border-right: none;}
#yellowbottombox {font-size: 10px; padding: 0px 0;}
#yellowbottombox a {font-size: 10px;}
#yellowbottombox a img {width: 16px;}
.copyright {padding: 15px 0 40px;}



}

@media screen and (max-width: 767px) {
.container {max-width: 100%; width: 100%;}
section {padding: 30px 0;}
.tw-award-box h3 br {display: none;}
.tw-award-box {height: 110px;} 
.tw-work-process p {padding: 10px 15px;} 
.boxour p {padding-top: 15px; margin-bottom: 0; }
.section-heading {margin-bottom: 20px; }
.special-weoffer .col-md-3 {width: 33.33%;margin-bottom: 10px;}
.different-features-box h3 {font-size: 13px;}
section {padding: 20px 0; }
.highlights-section .col-md-3 {width: 25%;}
.clien-innerbox {max-width: 33.33%; flex: unset; }
.tw-service-features-box h3 {margin-bottom: 10px; }
.tw-nav-brand {margin-top:0;}
.navbar-light .navbar-brand {width: 110px; margin: 0; }
.navbar-light .navbar-brand img{width:100%;}
.tw-nav-brand {margin-top: 0; } 
.navbar-expand-lg .navbar-nav {padding: 10px 10px; padding-left: 10px !important; }
.navbar-light .navbar-nav .nav-link {margin-right: 0; }
ul.tw-dropdown-menu li a {font-size: 13px; line-height: 1.2; }
.tw-megamenu-title h3 {font-size: 14px; padding-bottom: 0; }
.tw-mega-menu ul li {padding-bottom: 0px; display: block; }
ul.navbar-nav a {font-size: 12px; }
.navbar-nav .dropdown-menu {padding: 10px 25px; }
.slider-content h2:before {left: 50%; transform: translateX(-50%);}
.slider-wrapper .slider-content {padding-right: 0; text-align: center; width: 60%; margin: 10px auto 10px; }
.owl-carousel .owl-item img {width: 50% !important;}
.slider-inner .col-push-7{order:2;}
.slider-inner .col-pull-5{order:1;}
.slider-content h2 span {font-size: 26px;}
.owl-carousel.owl-loaded {height: auto; }
.tw-work-process-top {margin-bottom: 30px; }
.modal-title {font-size: 18px !important; }
.bx_blog {margin-bottom: 0px; }
.copyright {padding: 15px 0 30px;}
.copyright-menu li {padding-top: 0; }



} 

@media screen and (max-width: 640px) {
   .special-weoffer .col-md-3 {width: 50%; margin-bottom: 0px; max-width: 50%;}
   .different-features-box img {width: 35px;margin-bottom: 10px;}
   .clientbox p {font-size: 12px; padding: 10px 25px 0; line-height: 1.5; min-height: 40px; }
   .clientbox h3 {padding: 15px 0px 5px; }
   #tw-case {padding-top: 20px !important; }
   .approchicon img {padding-top: 20px !important; } 
   .slider-content h2 {font-size: 20px; } 
   .slider-content h2 span {font-size: 20px;display: inline-block;}
   .slider-content a {padding: 10px 25px; }
   a.bulebroder {padding: 8px 25px; }
   .special-weoffer {padding-bottom: 20px; }
   .phone_bx {width: 100%; }
   .copyright {padding: 15px 0 30px; }

} 


@media screen and (max-width: 576px) {
   .section-heading h2 {font-size: 18px;line-height: 1.4;}
   .Complete small {line-height: 20px;font-size:12px;width: 100%;}
   .different-features-box h3 {font-size: 12px;}
   .highlights-section .col-md-3 {width: 33.33%;}
   .different-features-box h3 {min-height: 30px;}
   .clientbox h3 {font-size: 18px; }
   .slider-wrapper .slider-content {width: 70%; }
   .slider-content h2 {margin-bottom: 15px; }
   .slider-content p {margin-bottom: 20px; font-size: 12px; line-height: 20px; }
   .section-heading p {font-size: 14px; line-height: 22px; margin-top: 7px; }
   .boxour p {font-size: 14px; }
   .modal-title {font-size: 16px !important; line-height: 1.4; }
   .list-opup ul li {font-size: 14px; line-height: 1.5; }
   .list-opup h3 {font-size: 16px; }
   .swiper-container-home {padding:10px 0;}
   .bx_ullink ul li {width: 50%; }

}

@media screen and (max-width: 480px) {
   .tw-award-box-top {width: 50%; }
   .section-heading h2 {font-size: 18px; }
   .invention .col-md-4 {width: 50%; }
   .column-title {font-size: 18px; }
   .tw-service-features-box h3 {font-size: 14px;}
   .tw-readmore {font-size: 14px;}
   .highlights-section .col-md-3 {width: 50%;}
   .different-features-box h3 {min-height: 20px;}
   .approch {font-size: 14px; } 
   .clientbox p {line-height: 1.4; margin-bottom: 0; padding-bottom: 8px; }
   .clientbox h3 {font-size: 18px; padding: 10px 0px 0px; }
   .tw-case-working-process .col-md-1 {display: none; }
   .clien-innerbox {max-width: 50%;}
   .lets-btn {padding: 10px 15px; font-size: 14px;}
   .approch {margin-bottom: 15px;}
   .lets-btn {font-size: 12px;}
   .tw-award-box h3 {font-size: 12px; margin-top: 15px;}
   .service-bg-icon-1 {height: 80px;}
   .slider-wrapper .slider-content {width: 90%; }
   .process-inner img {margin-top: 20px; width: 50%;}
   .tw-work-process p {font-size: 12px; padding: 5px 5px; }
   .text-ppc {font-size: 14px !important; }
   .btnplus-1 {margin-top: 0; }
   .tw-work-process {margin-bottom: 0px; }
   .tw-work-process-top {margin-bottom: 0px; }
   .boxour p {font-size: 14px; }
   .section-heading p {font-size:14px;line-height: 22px;}
   .owl-carousel .owl-item img {width: 60% !important; }
   .work-process [class*="col"]:nth-child(4) .tw-work-process {margin-bottom: 50px; }
   .tw-work-process-top {max-width: 100%;}
   .tw-work-process p {min-height: auto;  margin-top: 0; }
   .modal-title {font-size: 14px !important; padding-top: 0; margin-left: 0;}
   .modal-body {padding: 15px; }
   .slider-content br {display: none; }
   .slider-content p {line-height: 20px; }
   .modal-dialog {max-width: 90%; margin: auto; }
   .casestudy-content h4 {font-size: 14px; margin-bottom: 10px; padding: 0px 10px;}
   .casestudy-content p {font-size: 12px; width: 100%;}
   .invention .col-md-4.boxour {width: 100%;}
   .invention .col-md-4:last-child {width: 100%;}
   .bx_ulblog .col-md-3 { float: none; text-align: center; margin-bottom: 10px; }
   .blogtextbox {float: none; max-width: 100%; text-align: center; margin: 0; }
   .bx_ullink ul li {width: 100%; }
   .bx_ulblog .col-md-3 {max-width: 40% !important;}



} 

@media screen and (max-width: 400px) {
   .different-features-box h3 {min-height: 25px; font-size: 13px;}
   .different-features-box img {width: 30px;}
   .different-features-box {margin-bottom: 15px;}
   .clientbox {margin-bottom: 15px;} 
   .column-title {font-size: 16px;}
   .boxour p {font-size: 12px; line-height: 20px;}
   .section-heading p {padding: 5px 0 0; font-size: 12px; line-height: 20px;}
   .slider-wrapper .slider-content {width: 95%;}
   .slider-content h2 {font-size: 16px;}
   .slider-content h2 span {font-size: 16px; }
   .section-heading h2 {font-size: 16px; }
   .slider-content a {font-size: 10px; } 
   .bx_ulblog .col-md-3 {max-width: 40% !important;}


 }

@media screen and (max-width: 360px) { 
   .special-weoffer .col-md-3 {width: 100%; max-width: 100%; }
   .service-feature-icon img {padding-top: 20px; }
   .service-bg-icon-1 {height: 80px; }
   .clientbox p {margin-bottom: 0; padding-bottom: 0; min-height: 50px; }
}

/*jd css end